* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cde6f8;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #96cce3;
    color: #071f3a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 12px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#menu a {
    background-color:#5e86aca4;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

#menu a:hover {
    background-color: #75a8d8a4;;
}

footer {
    background-color: #071f3a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer {
    color: #96cce3;
}

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#menu-final a {
    background-color: #96cce3e1;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

#menu-final a:hover {
    background-color: #bce2f3;
}
