* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cde6f8;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #96cce3;
    color: #071f3a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header p {
    font-size: 12px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

a {
    background-color:#5e86aca4;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

a:hover {
    background-color: #75a8d8a4;;
}

#livros {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #132a44;
    padding-left: 30px;
}

#livros h3 {
    font-size: 50px;
}

#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    gap: 40px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 22%;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    margin-top: 20px;
}

#final hr {
    margin-bottom: 20px;
}
