* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cde6f8;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #96cce3;
    color: #071f3a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 12px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#introducao {
    background-color: #071f3a;
    color: #96cce3;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

#introducao h2 {
    font-size: 50px;
}

#texto {
    color: white;
}

#introducao img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#introducao a {
    background-color: #96cce3e1;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

#introducao a:hover {
    background-color: #bce2f3;
}

#menu a {
    background-color:#5e86aca4;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

#menu a:hover {
    background-color: #75a8d8a4;;
}

#botao {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

#destaque {
    padding: 40px 60px;
    color:#071f3a
}

#por-que-ler {
    margin-bottom: 20px;
}

#por-que-ler p {
    color: #356491;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.card {
    background-color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.card h4 {
    font-size: 18px;
}

#chamada-livros {
    background-color: #5e86ac;
    text-align: center;
    padding: 30px;
    color: #000c1a;
}

#chamada-livros h5 {
    font-size: 25px;
    margin-bottom: 10px;
}

#pagina-livros {
    background-color: #96cce3e1;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: #071f3a;
}

#pagina-livros:hover{
    background-color: #bce2f3;
}

